<div class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/categories">
      <%= image_tag('back.png', width: '30', height: '15') %>
    </a>
    <h5 class="text-light text-center flex-1 pt-2">TRANSACTIONS</h5>
    <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "text-white logout-btn" %>
  </div>
</div>

<div id="money_transactions">
  <% @money_transactions.each do |money_transaction| %>
    <%= render money_transaction %>
    <p>
      <%= link_to "Show this money transaction", money_transaction %>
    </p>
  <% end %>
</div>

<div class="fixed-bottom bg-success p-3 container-lg justify-content-center col-lg-6">
<%= link_to "New Transaction", new_money_transaction_path, class: "d-block w-100 p-5 bg-success border border-2 text-lg font-weight-medium border-white text-center text-white text-decoration-none" %>
</div>
