<div class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <%= image_tag('back.png', width: '30', height: '15') %>
    </a>
    <h5 class="text-light text-center mx-auto pt-2">SIGN UP</h5>
  </div>
</div>

<div class="col-lg-6 col-md-12 mx-auto flex flex-column p-2 h-100">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.text_field :name, autocomplete: "name", placeholder: "Full Name", class: "form-control w-100 rounded-md p-3 border focus:outline-none mt-4" %>
  </div>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control w-100 rounded-md p-3 border focus:outline-none mt-4" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "form-control w-100 rounded-md p-3 border focus:outline-none mt-4" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password", class: "form-control w-100 rounded-md p-3 border focus:outline-none mt-4" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: 'bg-primary text-white text-center w-100 p-2 rounded mt-4' %>
  </div>
<% end %>
</div>
