<p style="color: green"><%= notice %></p>

<%= render @category_transaction %>

<div>
  <%= link_to "Edit this category transaction", edit_category_transaction_path(@category_transaction) %> |
  <%= link_to "Back to category transactions", category_transactions_path %>

  <%= button_to "Destroy this category transaction", @category_transaction, method: :delete %>
</div>
