<div class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <%= image_tag('back.png', width: '30', height: '15') %>
    </a>
    <h5 class="text-light text-center mx-auto pt-2">LOGIN</h5>
  </div>
</div>

<div class="col-lg-6 col-md-12 mx-auto flex flex-column p-2 h-100">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control w-100 rounded-md p-3 border focus:outline-none mt-4" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "form-control w-100 rounded-md p-3 border focus:outline-none mt-4" %>
  </div>

  <div class="actions">
    <%= f.submit "Log in", class: 'bg-primary text-white text-center w-100 p-2 rounded mt-4' %>
  </div>
<% end %>

<div class="col-lg-6 col-md-12 mx-auto mt-3 flex flex-column h-100 text-center">
<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name), class: "text-secondary text-center w-100 p-3 rounded text-decoration-none" %><br />
<% end %>
</div>
</div>
