<%= link_to money_transactions_path(category), class: 'text-decoration-none text-secondary' do %>
<div id="<%= dom_id category %>" class="border p-3 mb-3">
<div class="d-flex justify-content-between">

  <p>
    <% if category.icon.attached? %>
    <%= image_tag category.icon.variant(resize: "100x100") %>
    <% else %>
      <span>No Icon Available</span>
    <% end %>
  </p>

  <p>
    <%= category.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= category.money_transactions.sum(:amount) %>
  </p>
  </div>

</div>
<% end %>
