<%= link_to money_transactions_path(category), class: 'text-decoration-none' do %>
<div id="<%= dom_id category %>" class="border p-3 mb-3">
<div class="d-flex justify-content-between">

  <p>
    <% if category.icon.attached? %>
    <%= image_tag category.icon.variant(resize: "100x100") %>
    <% else %>
      <span>No Icon Available</span>
    <% end %>
  </p>

  <p class= "text-secondary">
    <%= category.name %>
  </p>

  <p class= "text-dark">
    <%= number_to_currency(category.money_transactions.sum(:amount), unit: '$') %>
  </p>
  </div>

</div>
<% end %>
