<!DOCTYPE html>
<html>
  <head>
    <title>Budgetify</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdn.tailwindcss.com"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <style>
      body {
        font-family: 'Proxima Nova', sans-serif;
      }

      h1, h2, h3, h4, h5, h6 {
        font-family: 'Proxima Nova Bold', sans-serif;
      }

      .light-text {
        font-family: 'Proxima Nova Light', sans-serif;
      }

    </style>
  </head>

  <body>
    
    <%= yield %>
     
</html>
